In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('PLANILLA DE CONTROL AL 2022-11-14.xlsx')

In [18]:
total = []
for proveedor in df['Razon Social SII'].dropna().unique():
    df_proveedor = df.query('`Razon Social SII` == @proveedor')
    for oc_proveedor in df_proveedor['folio_oc ACEPTA'].dropna().unique():
        total.append([proveedor, oc_proveedor])

In [22]:
df_oc_proveedor = pd.DataFrame(total)
df_oc_proveedor.columns = ['Razon Social SII', 'folio_oc ACEPTA']

In [23]:
df_oc_proveedor

                           Razon Social SII folio_oc ACEPTA
0         SOCIEDAD COMERCIAL VITALMENTO SPA   1499-594-CM21
1         SOCIEDAD COMERCIAL VITALMENTO SPA   1499-590-CM21
2         SOCIEDAD COMERCIAL VITALMENTO SPA   1499-587-CM21
3         SOCIEDAD COMERCIAL VITALMENTO SPA   1499-591-CM21
4         SOCIEDAD COMERCIAL VITALMENTO SPA   1499-586-CM21
...                                     ...             ...
15904  COMERCIALIZADORA PRANDELLI  LIMITADA  1499-3669-CM22
15905                          CLINICON SPA  1499-4266-AG22
15906                            TERSPA SPA  1499-4191-CM22
15907                COMERCIAL KABBALAH SPA  1499-4232-AG22
15908        Laboratorio CD Pharma Limitada    621-989-SE22

[15909 rows x 2 columns]