In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('input\\PLANILLA DE CONTROL AL 2022-10-13.xlsx')

In [3]:
columnas_SCI_TURBO = df.columns[df.columns.str.contains('SCI|TURBO', regex = True)]

In [4]:
mask_sin_SCI_ni_TURBO = df['Fecha Recepción SCI'].isna() & df['Ubic. TURBO'].isna()
facturas_sin_SCI_ni_TURBO = df[mask_sin_SCI_ni_TURBO]

In [7]:
facturas_sin_SCI_ni_TURBO[columnas_SCI_TURBO]

,Fecha Recepción SCI,Registrador SCI,Articulo SCI,N° Acta SCI,Ubic. TURBO,NºPresu TURBO,Folio_interno TURBO,NºPago TURBO
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
68714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68716,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
for columna in columnas_SCI_TURBO:
    print(facturas_sin_SCI_ni_TURBO[columna].value_counts())

Series([], Name: Fecha Recepción SCI, dtype: int64)
Series([], Name: Registrador SCI, dtype: int64)
Series([], Name: Articulo SCI, dtype: int64)
Series([], Name: N° Acta SCI, dtype: int64)
Series([], Name: Ubic. TURBO, dtype: int64)
8       5
10      4
6125    2
1       2
6837    2
5891    1
7634    1
7409    1
15      1
6796    1
6635    1
5749    1
6448    1
12      1
9       1
6244    1
7837    1
Name: NºPresu TURBO, dtype: int64
4479.0    3
5115.0    3
5713.0    3
4872.0    2
4877.0    2
4896.0    2
4763.0    1
4774.0    1
4887.0    1
4598.0    1
4960.0    1
5050.0    1
5057.0    1
4732.0    1
5123.0    1
5279.0    1
5327.0    1
4969.0    1
Name: Folio_interno TURBO, dtype: int64
0    27
Name: NºPago TURBO, dtype: int64

In [11]:
facturas_sin_SCI_ni_TURBO.query('`Folio_interno TURBO` == 4479.0')

,Fecha Recepción SCI,Registrador SCI,Articulo SCI,N° Acta SCI,Ubic. TURBO,NºPresu TURBO,Folio_interno TURBO,NºPago TURBO
25604,NaN,NaN,NaN,NaN,NaN,8,4479.0,0
25621,NaN,NaN,NaN,NaN,NaN,8,4479.0,0
25623,NaN,NaN,NaN,NaN,NaN,8,4479.0,0